@font-face {
    font-family: minecraft;
    src: url('fonts/minecraft_font.ttf') format("truetype");
}

html{
    background-image: url("images/background/dirt.png");
    /*scale background image by 2*/
    background-size: 64px 64px;
    /*background image scale linearly*/
    image-rendering: pixelated;
}

.itemSelector{
    background-color: #110110;
    border: 5px solid #25015B;
    display: block;
    /*create second border*/

    /*center div*/
    margin: auto;
    /*make div square*/
    width: 607px;
    height: fit-content;
}
.itemBox {
    background-color: #8B8B8B;
    border-bottom: 10px solid #FFFFFF;
    border-right: 10px solid #FFFFFF;
    border-left: 10px solid #373737;
    border-top: 10px solid #373737;
    
    display: block;
    margin-bottom: 27px;
    /*create second border*/

    /*center div*/
    margin-left: auto;
    margin-right: auto;
    /*make div square*/
    width: 146px;
    height: 146px;
}
.itemBox img{
    width: 146px;
}
.itemName {
    padding-left: 20px;
    font-family: minecraft;
    font-size: 27px;
    color: #FFFFFF;
    margin-top: 10px;
    /*drop shadow with no blur*/
    text-shadow: 4px 4px 0px #3E3E3E;
}
.itemStatsTitle {
    padding-left: 20px;
    font-family: minecraft;
    font-size: 27px;
    color: #A8A8A8;
    margin-top: 10px;
    /*drop shadow with no blur*/
    text-shadow: 4px 4px 0px #292929;
}
.itemStats {
    padding-left: 40px;
    padding-top: 30px;
    font-family: minecraft;
    font-size: 15px;
    color: #00A800;
    margin-top: 10px;
    /*drop shadow with no blur*/
    text-shadow: 4px 4px 0px #002900;
}
.generate {
    image-rendering: pixelated;
    width: 300px;
    display: block;
    margin: auto;
}
.generate-text{
    font-family: minecraft;
    position: relative; 
    bottom: 54px; 
    font-size: 27px;
    color: #42b8eb;
    text-shadow: 3px 3px 0px #0f3749;
}